.search{
/* Centrage h1 et texte page accueil*/
 .accueiltexte {
    text-align: center;
    background-color: $primary-color;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

h2 {
    margin-left: 1rem;
}
}

/* Fonctionnement accueil*/
.fonctionnement {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $primary-color;
    border-radius: 2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 80%;
    cursor: pointer;
    transition: background-color 0.4s;

    &:hover {
/* Au survol, coloration du fond en violet clair et des icônes en violet plus foncé*/
    background-color: #f0e4ff;
    color: #9356DC;
}
    

/* Liens dans focntionnement pour que les h3 restent noirs et ne soient pas soulignés*/
a {
    color: black;
    text-decoration: none;
}

/* Taille des icônes dans fonctionnement*/
.fas {
    font-size: large;
    transition: color 0.4s;
}

/* Coloration des icônes dans fonctionnment au survol*/
.fas:hover {
    color: #9356DC;
}

/* Chiffres 1,2,3 dans fonctionnement*/
.number {
    background-color: #9356DC;
    color: $secondary-color;
    font-size: 1rem;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -2.5rem;
}
}







.restaurants {

/* Titre h2 restaurants page accueil*/
    .title-2 h2 {
        margin-left: 1rem;
        padding-top: 3rem;
    }

    .title-2 {
        background-color: $primary-color;
        margin-top: 4rem;
        margin-bottom: -3rem;
    }

    .vignettes {
        background-color: $primary-color;
        margin-top: 3rem;
        padding-bottom: 2em;
        padding-top: 2em;
    }

/* Pour supprimer le soulignement des liens a et leur couleur bleu par défaut*/
 .vignettes .vignette a {
    text-decoration: none;
    color: grey;
}

/* 4 vignettes de restaurants page accueil*/
.vignette img {
    display: block;
    width: 100%;
    height: 150px;
    object-fit: cover;
}


/* Alignement du texte et icône coeur*/
.vignette .vignette-texte {
    padding-left: 1rem;
    display: flex;
    align-items: center;
    position: relative;
}

/* Alignement texte décalage gauche et icône coeur pour la note enchantée*/
.vignette-texte {
    padding-left: 1rem;
    display: flex;
    align-items: center;
    position: relative;
}

/* Décalage titre gauche et marges haut bas couleur noire pour le lien*/
h4 {
    padding-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 0;
    color: black;
}

/* Marge haut bas pour les paragraphes dans chaque vignette page accueil*/
p {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

/* Tous les enfants de la section restaurants page accueil*/
.restaurants > div {
    background-color: $primary-color;
    padding-top: 2rem;
    margin-top: 4rem;
    padding-bottom: 2rem;
}

/* Arrondissement des angles*/
.vignette img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

/* Placement de la petite carte nouveau sur deux images de restaurants page accueil*/
.card-badge {
    background-color: #99E2D0;
    color: green;
    font-size: 1.5rem;
    position: absolute;
    right: 30px;
    margin-top: -8rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Image texte et icône catégorie restaurants page accueil*/
.vignettes .vignette {
    margin-bottom: 1rem;
    background-color: $secondary-color;
    border-radius: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.vignettes h2 {
    margin-left: 1rem;
}


/* Icône coeur positionnement et taille page accueil*/
.heart {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    font-size: 2rem;
    color: gray;
    cursor: pointer;
}

/* Icône coeur plein*/
.heart .fas {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    color: #9356DC;
    opacity: 0;
    transition: all 0.8s;
}

/* Activation au survol de la couleur et durée de l'animation*/
.heart .fas:hover {
    opacity: 1;    
}
}


/* Du titre H1 et le bouton commander*/
.menu {
    background-color: $primary-color;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    margin-top: -3rem;
    margin-bottom: -1rem;
    position: relative;
    font-family: $font-family-primary;
    color: black;

.title-page {
    margin-left: 1rem;
    padding-top: 1rem;
}
.title-page h1 {
    font-family: $font-family-secondary;
    font-size: 1.25rem;
}
}

/* Titre entrée plat dessert*/
.menu-title h2 {
    font-weight: normal;
    margin-left: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #99E2D0;
    width: 50px;
}

/* Titre H1 et icône coeur*/
.like {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
    margin-left: 20px;
    position: relative;
    

/* icône coeur avec titre h1*/
 i {
    position: absolute;
    right: 20px;
    bottom: 15px;
    color: gray;
    font-size: 2rem;
}

/* Icône coeur plein avec titre h1*/
 .fas {
    position: absolute;
    right: 20px;
    font-size: 2rem;
    cursor: pointer;
    color: #9356DC;
    opacity: 0;
    transition: all 0.8s;
}

/* Activation couleur de coeur au survol à côté titre h1*/ 
&:hover 
.fas {
    opacity: 1;
}
}








/* Intitulé menu descriptif et prix*/
.plats {
    
    .plat {
    background-color: $secondary-color;
    height: 80px;
    padding-left: 1rem;
    margin-top: 0;
    border-radius: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}


/* Supprimer le soulignement par défaut des liens et les colorer en noir et taille*/
    .plat a {
        text-decoration: none;
        color: black;
        display: flex;
        height: 100%;
    }


/* Titre h3 dans chaque menu*/
    .plat h3 {
        font-size: 1rem;
        margin: 0;
        margin-bottom: 0.25rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
}

    .plat .title-3 {
        margin-bottom: 0.25rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
}

/* Paragraphe menu*/
    .plat p {
        margin-top: 0;
        margin-bottom: 0.5rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
}

/* Certains paragraphes stylisés différemment*/
    .plat .paragraph {
        padding-top: 0.25rem;
        margin-bottom: 1rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
  

/* Icone à droite de chaque menu sur fond vert*/
    .plat {
        .check {
            .fas {
              transition: all 1s;
            }
         }
         
         &:hover
           .check {
             .fas {
               transform: rotate(360deg);
             }
        }
         
        /* Apparition du check au survol des plats*/
        &:hover 
            .check {
                width: 70px;
        }
       
        .check {
            width: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #99E2D0;
            color: $secondary-color;
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
            font-size: 1.5rem;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: .6s;
        }
        


        /* Placement de chaque check a la fin du conteneur*/
        .content {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        /* Ajouter ... pour des textes trop longs et pas de retour à la ligne*/
        .text {
            margin-right: 1rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .text h3 {
            font-weight: 1000;
            color: black;
            font-size: large;
        }
    

        div {
            display: block;
        }

        .prix .price {
            margin-bottom: 1rem;
            margin-right: 1rem;
            font-weight: 1000;
            color: black;
        }
    }



@include for-tablet-portrait-up {
    .plat {
        width: 200px;
    }
    .plats .plat {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .menu-global-responsive {
        display: flex;
    }
    .menu-title h2 {
        padding-left: 1rem;
    }
    .title-page {
        font-size: x-large;
    }
    footer nav {
        font-size: x-large;
    }
    .fonction {
        display: flex;
        justify-content: space-around;
    
    .number {
        margin-right: -1.5rem;
    }
}
    .fonctionnement h3 {
        font-size: small;
    }
    .fonctionnement i {
        font-size: small;
        margin-right: -1rem;
    }
    .vignettes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
}

@include for-desktop-up {
    .vignettes {
        display: flex;
    }
    .vignette {
        width: 300px;
    }
    .plat {
        width: 400px;
    }
    .fonction {
        display: flex;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    .menu {
        margin-top: -1.5rem;
    }
}