@import "helpers/variables";
@import "layout/layout";

@media (max-width: 767px) {

header .logoheader img {
    width: 40%;
}

/* Localisation page d'accueil*/
.localisation {
    background-color: rgb(238, 232, 232);
    box-shadow: 1px 1px 8px grey inset;
    display: flex;
    justify-content: center;
}

/* Centrage h1 et texte page accueil*/
.search .accueiltexte {
    text-align: center;
}

/* Bouton explorer nos restaurants page accueil*/
.bouton1 {
    display: flex;
    justify-content: center;
}

.bouton1 p {
    margin-top: 1em;
    border-radius: 2rem;
    font-size: 2rem;
    background: linear-gradient(#FF79DA, #9356DC); /* Dégradé de couleurs du bouton*/
    color: white;
    width: 60%;
    font-size: small;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    
}

/* Fonctionnement accueil*/
.fonctionnement {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 2rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    padding-left: 1rem;
    
}

/* Taille des icônes dans fonctionnement*/
.search .fonctionnement .fas {
    font-size: large;
}

/* 4 vignettes de restaurants page accueil*/
.vignette img {
    display: block;
    width: 100%;
    height: 80%;
    object-fit: cover;
}

/* Pour supprimer le soulignement des liens a et leur couleur bleu par défaut*/
.restaurants .vignettes .vignette a {
    text-decoration: none;
    color: black;
}

.restaurants .vignettes .vignette-note a {
    text-decoration: none;
    color: black;
}

/* Vignette note pour la note enchantée car il faut la dimensionner autrement*/
.vignette-note img {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/* Alignement du texte et icône coeur*/
.vignette .vignette-texte {
    padding-left: 1rem;
    display: flex;
    align-items: center;
    
}

/* Alignement texte décalage gauche et icône coeur pour la note enchantée*/
.vignette-note .vignette-texte {
    padding-left: 1rem;
    display: flex;
    align-items: center;
}

/* Décalage titre gauche*/
h4 {
    padding-left: 1rem;
}

/* Tous les enfants de la section restaurants page accueil*/
.restaurants > div {
    background-color: #f2f2f2;
    padding-top: 2rem;
    margin-top: 4rem;
    padding-bottom: 2rem;
}

/* Arrondissement des angles*/
.vignette img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.vignette-note img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

/* Image texte et icône catégorie restaurants page accueil*/
.restaurants .vignettes .vignette {
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.restaurants .vignettes .vignette-note {
    background-color: white;
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Icône coeur positionnement et taille page accueil*/
.heart {
    position: absolute;
    right: 50px;
    font-size: x-large;
}






/* logo*/
header img {
    height: 100px;
    width: 100px;
}

/* logo*/
header .logoheader img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Icône et logo*/
header .logoheader {
    display: flex;
    align-items: center;
}

/* Image en haut du menu*/
.imagealafrancaise img {
    display: block;
    width: 100%;
    height: 80%;
    object-fit: cover;
}

/* De à la française au bouton commander*/
.Menufrancais {
    background-color: #f2f2f2;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    
}

/* Titre H1 et icône coeur*/
.like {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
    margin-left: 20px;
}

/* icône coeur*/
.like i {
    font-size: 20px;
}

/* Intitulé menu descriptif et prix*/
.entree .filter {
    background-color: white;
    border-radius: 1rem;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 1rem;
}

/* descriptif menu et prix*/
.entree .filter .texte {
    display: flex;
    justify-content: space-between;
    padding-right: 1em;
    padding-left: 1em;
}

/* Titre h3 dans chaque menu*/
.Menufrancais .entree .filter .title {
    padding-left: 1em;
    padding-top: 1%;
}

/* Titre entrée plat dessert*/
h2 {
    margin-left: 1em;
    font-weight: normal;
    color: grey;
}

/* Bouton commander*/

.bouton {
    display: flex;
    justify-content: center;
}

.bouton p {
    margin-top: 2rem;
    margin-bottom: 4rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    font-size: large;
    background: linear-gradient(#FF79DA, #9356DC); /* Dégradé de couleurs du bouton*/
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

/* Supprimer le point devant par défaut des li*/
footer nav ul li {
    list-style: none;
    padding-bottom: 0.5em;
}

/* Supprimer le soulignement par défaut des liens et changer leur couleur*/
footer nav a {
    text-decoration: none;
    color: white;
}

footer img {
    background-color: white;
    margin-left: 2rem;
}

}

