@import "helpers/variables";
@import "layout/layout";

@media (max-width: 767px) {

/* logo*/
header img {
    height: 100px;
    width: 100px;
}

/* logo*/
header .logoheader img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Icône et logo*/
header .logoheader {
    display: flex;
    align-items: center;
}

/* Image en haut du menu*/
.imagealafrancaise img {
    display: block;
    width: 100%;
    height: 80%;
    object-fit: cover;
}

/* De à la française au bouton commander*/
.Menufrancais {
    background-color: #f2f2f2;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    
}

/* Titre H1 et icône coeur*/
.like {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
    margin-left: 20px;
}

/* icône coeur*/
.like i {
    font-size: 20px;
}

/* Intitulé menu descriptif et prix*/
.entree .filter {
    background-color: white;
    border-radius: 1rem;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 1rem;
}

/* descriptif menu et prix*/
.entree .filter .texte {
    display: flex;
    justify-content: space-between;
    padding-right: 1em;
    padding-left: 1em;
}

/* Titre h3 dans chaque menu*/
.Menufrancais .entree .filter .title {
    padding-left: 1em;
    padding-top: 1%;
}

/* Titre entrée plat dessert*/
h2 {
    margin-left: 1em;
    font-weight: normal;
    color: grey;
}

/* Bouton commander*/

.bouton {
    display: flex;
    justify-content: center;
}

.bouton p {
    margin-top: 3em;
    padding-top: 0.5em;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    background: linear-gradient(#FF79DA, #9356DC); /* Dégradé de couleurs du bouton*/
    color: white;
    width: 300px;
    height: 50px;
    
}

/* Supprimer le point devant par défaut des li*/
footer nav ul li {
    list-style: none;
    padding-bottom: 0.5em;
}

/* Supprimer le soulignement par défaut des liens et changer leur couleur*/
footer nav a {
    text-decoration: none;
    color: white;
}

footer img {
    background-color: white;
    margin-left: 2rem;
}

}

