/* Du titre H1 et le bouton commander*/
.menu {
    background-color: $primary-color;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    margin-top: -3rem;
    margin-bottom: -1rem;
    position: relative;
    font-family: $font-family-primary;
    color: black;

.title-page {
    margin-left: 1rem;
    padding-top: 1rem;
}
.title-page h1 {
    font-family: $font-family-secondary;
    font-size: 1.25rem;
}
}

/* Titre entrée plat dessert*/
.menu-title h2 {
    font-weight: normal;
    margin-left: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #99E2D0;
    width: 50px;
    font-family: $font-family-primary;
}

/* Titre H1 et icône coeur*/
.like {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
    margin-left: 20px;
    position: relative;
    

/* icône coeur avec titre h1*/
 i {
    position: absolute;
    right: 20px;
    bottom: 15px;
    color: gray;
    font-size: 2rem;
}

/* Icône coeur plein avec titre h1*/
 .fas {
    position: absolute;
    right: 20px;
    font-size: 2rem;
    cursor: pointer;
    color: #9356DC;
    opacity: 0;
    transition: all 0.8s;
}

/* Activation couleur de coeur au survol à côté titre h1*/ 
&:hover 
.fas {
    opacity: 1;
}
}








/* Intitulé menu descriptif et prix*/
.plats {
    
    .plat {
    background-color: $secondary-color;
    height: 80px;
    padding-left: 1rem;
    margin-top: 0;
    border-radius: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    display: flex;
}


/* Titre h3 dans chaque menu*/
    .plat h3 {
        font-size: 1rem;
        margin: 0;
        margin-bottom: 0.25rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
}

    .plat .title-3 {
        margin-bottom: 0.25rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
}

/* Paragraphe menu*/
    .plat p {
        margin-top: 0;
        margin-bottom: 0.5rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
}

/* Certains paragraphes stylisés différemment*/
    .plat .paragraph {
        padding-top: 0.25rem;
        margin-bottom: 1rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
  

/* Icone à droite de chaque menu sur fond vert*/
    .plat {
        .check {
            .fas {
              transition: all 1s;
            }
         }
         
         &:hover
           .check {
             .fas {
               transform: rotate(360deg);
             }
        }
         
        /* Apparition du check au survol des plats*/
        &:hover 
            .check {
                width: 70px;
        }
       
        .check {
            width: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #99E2D0;
            color: $secondary-color;
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
            font-size: 1.5rem;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: .6s;
        }
        


        /* Placement de chaque check a la fin du conteneur*/
        .content {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        /* Ajouter ... pour des textes trop longs et pas de retour à la ligne*/
        .text {
            margin-right: 1rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-family: $font-family-primary;
        }

        .text h3 {
            font-weight: 900;
            color: black;
            font-size: large;
        }
    

        div {
            display: block;
        }

        .prix .price {
            margin-bottom: 1rem;
            margin-right: 1rem;
            font-weight: 900;
            color: black;
            font-family: $font-family-primary;
        }
    }



@include for-tablet-portrait-up {
    .menu {
        margin-top: -1rem;
    }
    .plat {
        width: 200px;
    }
    .plats .plat {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .menu-global-responsive {
        display: flex;
    }
    .menu-title h2 {
        padding-left: 1rem;
    }
    .title-page {
        font-size: x-large;
    }
    footer nav {
        font-size: x-large;
    }
    .fonction {
        display: flex;
        justify-content: space-around;
    
    .number {
        margin-right: -1.5rem;
    }
}
    .fonctionnement h3 {
        font-size: small;
    }
    .fonctionnement i {
        font-size: small;
        margin-right: -1rem;
    }
    .vignettes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
}

@include for-desktop-up {
    .vignettes {
        display: flex;
    }
    .vignette {
        width: 300px;
    }
    .plat {
        width: 400px;
    }
    .fonction {
        display: flex;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    .menu {
        margin-top: -1.5rem;
    }
}