.search{
/* Centrage h1 et texte page accueil*/
 .accueiltexte {
    text-align: center;
}

/* Bouton explorer nos restaurants page accueil*/
.bouton1 {
    display: flex;
    justify-content: center;
}

.bouton1 p {
    margin-top: 2rem;
    margin-bottom: 4rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    font-size: large;
    background: linear-gradient(#FF79DA, #9356DC); /* Dégradé de couleurs du bouton*/
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    cursor: pointer;
}

/* Eclaircissement du bouton page accueil et ombre*/
.bouton1 :hover {
    background: linear-gradient(#fdc4ff, #AD86DC);
    box-shadow: 10px 5px 5px #f789d7;
}



}



/* Fonctionnement accueil*/
.fonctionnement {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 2rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    padding-left: 1rem;

    /* Taille des icônes dans fonctionnement*/
.fas {
    font-size: large;
}
}






.restaurants {

    .vignettes {
        background-color: #f2f2f2;
        margin-top: 3rem;
        padding-bottom: 2em;
        padding-top: 2em;
    }

/* Pour supprimer le soulignement des liens a et leur couleur bleu par défaut*/
 .vignettes .vignette a {
    text-decoration: none;
    color: black;
}

/* 4 vignettes de restaurants page accueil*/
.vignette img {
    display: block;
    width: 100%;
    height: 150px;
    object-fit: cover;
}


/* Alignement du texte et icône coeur*/
.vignette .vignette-texte {
    padding-left: 1rem;
    display: flex;
    align-items: center;
    
}

/* Alignement texte décalage gauche et icône coeur pour la note enchantée*/
.vignette-texte {
    padding-left: 1rem;
    display: flex;
    align-items: center;
}

/* Décalage titre gauche*/
h4 {
    padding-left: 1rem;
}

/* Tous les enfants de la section restaurants page accueil*/
.restaurants > div {
    background-color: #f2f2f2;
    padding-top: 2rem;
    margin-top: 4rem;
    padding-bottom: 2rem;
}

/* Arrondissement des angles*/
.vignette img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.vignette-note img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

/* Image texte et icône catégorie restaurants page accueil*/
.vignettes .vignette {
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.vignettes .vignette-note {
    background-color: white;
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Icône coeur positionnement et taille page accueil*/
.heart {
    position: absolute;
    right: 50px;
    font-size: x-large;
}
}




/* De à la française au bouton commander*/
.Menu {
    background-color: #f2f2f2;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

/* Titre H1 et icône coeur*/
.like {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
    margin-left: 20px;
}

/* icône coeur*/
.like i {
    font-size: 20px;
}

/* Intitulé menu descriptif et prix*/
.part {
    
    .filter  {
    background-color: white;
    height: 100px;
    border-radius: 1rem;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 1rem;
}

/* Mettre prix et check côte à côte*/
    .filter .prix {
    display: flex;
}

/* Positionnement relatif du prix et check pour les orienter*/
    .prix {
    position: relative;
    left: 250px;
    bottom: 100px;
}

  

/* descriptif menu et prix*/
    .filter .contenu .prix .check {
        padding-right: 1em;
        padding-left: 1em;
}

/* Titre h3 dans chaque menu*/
.filter h3 {
    padding-top: 1em;
}


  

/* Icone à droite de chaque menu sur fond vert*/
    .filter .prix .check {
    padding: 1rem;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #99E2D0;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

/* Mettre les prix en bas du conteneur*/
.prix {
    display: flex;
    align-items: flex-end;
}

/* Titre entrée plat dessert*/
    .titre-plat {
    margin-left: 1em;
    font-weight: normal;
    color: grey;
}
}

/* Bouton commander*/

.bouton {
    display: flex;
    justify-content: center;
}

.bouton p {
    margin-top: 2rem;
    margin-bottom: 4rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    font-size: large;
    background: linear-gradient(#FF79DA, #9356DC); /* Dégradé de couleurs du bouton*/
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    cursor: pointer;
}

/* Eclaircissement bouton page menu et ombre*/
.bouton :hover {
    background: linear-gradient(#fdc4ff, #AD86DC);
    box-shadow: 10px 5px 5px #f789d7;
}




