@media(min-width: 768px) {
    .plats {
        display: flex;
    }
    .plat {
        width: 200px;
    }
    .title-page {
        font-size: x-large;
    }
    footer nav {
        font-size: x-large;
    }
    .fonctionnement {
        margin-left: 4rem;
    }
    .fonctionnement .number {
        margin-left: -7rem;
    }
    .vignettes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
}
