.loading {
    background-color: rgba(10, 10, 10, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: loading 6s both;
    animation-fill-mode: forwards;
}



.chargement {
    /* Création du loader*/

    border-top: 10px solid #9356DC;
    border-bottom: 10px solid #f789d7;
    border-left: 10px solid #fdc4ff;
    border-right: 10px solid #AD86DC;
    border-radius: 50%;
    background: whitesmoke;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 1.5s linear infinite;
    -o-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite; 
    
    



    /* Placement du loader au milieu de la page*/

    margin: auto;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation-iteration-count: 3; /* Nombre de répétitions de l'animation*/
    animation-fill-mode: forwards; /* Valeur calculée lors du dernier keyframes*/
}

/* Animation du loader*/


@keyframes spin {
    0% {
        transform: scale(0.1);
        opacity: 1;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes loading {
    0% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* Animation pour les divs plats*/

.plats {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox*/ 
    -webkit-animation: fadein 2s; /* Safari et Chrome*/
}

/* Animation apparition progressive des divs menus*/ 
.menu-title :nth-child(1) {
    animation: fadein 1.5s;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.menu-title :nth-child(2) {
    animation: fadein 2.5s;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.menu-title :nth-child(3) {
    animation: fadein 3.5s;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

